import os
# ^^^ pyforest auto-imports - don't write above this line
# Review

## Lists, Tuples, Dicts and Sets

### Lists

Sequencia de elementos mutáveis!

In [4]:
my_list = []

In [5]:
type(my_list)

list

In [12]:
my_list.append(10)

In [13]:
my_list

[10, 10, 10, 10, 10, 10]

In [14]:
my_list.append([1,2,3,4])

In [15]:
my_list

[10, 10, 10, 10, 10, 10, [1, 2, 3, 4]]

In [16]:
my_list.append({'andre':'prof'})

In [17]:
my_list

[10, 10, 10, 10, 10, 10, [1, 2, 3, 4], {'andre': 'prof'}]

In [20]:
my_list[-1]['andre']

'prof'

In [21]:
my_list[7]['andre']

'prof'

In [23]:
my_list[7].update({'rai':'prof assist'})

In [25]:
my_list[7].keys()

dict_keys(['andre', 'rai'])

### Tuples

Tuplas são sequencia de elementos imutáveis

In [27]:
my_tup = (1,3,6,8)
my_tup

(1, 3, 6, 8)

In [33]:
my_tup[0] = 10

TypeError: 'tuple' object does not support item assignment

In [34]:
my_tup = (1,3,6,{'andre':'prof'})
my_tup

(1, 3, 6, {'andre': 'prof'})

In [36]:
my_tup[-1].update({'rai':'prof assist'})

In [37]:
my_tup

(1, 3, 6, {'andre': 'prof', 'rai': 'prof assist'})

### Dicts

In [38]:
my_dict = {3 : 'tres', 4:'blablabla'}
my_dict

{3: 'tres', 4: 'blablabla'}

In [39]:
my_dict['4']

KeyError: '4'

In [40]:
my_dict[4]

'blablabla'

In [41]:
my_dict.update({'4' : 4})

In [44]:
my_dict

{3: 'tres', 4: 'blablabla', '4': 4}

In [45]:
my_dict[my_dict['4']]

'blablabla'

In [46]:
my_dict.update({'blablabla': 'agora chega'})

In [47]:
my_dict

{3: 'tres', 4: 'blablabla', '4': 4, 'blablabla': 'agora chega'}

In [48]:
my_dict[my_dict[my_dict['4']]]

'agora chega'

In [50]:
minha_chave = my_dict[my_dict['4']]
minha_chave

'blablabla'

In [52]:
my_dict[minha_chave] == my_dict['blablabla']

True

In [53]:
## Strings and Regular Expressions

In [57]:
text = 'Andre e o andré - que são amiguinhos - estudaram juntos, e digo mais, 2 vezes!'

In [58]:
text.upper()

'ANDRE E O ANDRÉ - QUE SÃO AMIGUINHOS - ESTUDARAM JUNTOS, E DIGO MAIS, 2 VEZES!'

In [59]:
text.lower()

'andre e o andré - que são amiguinhos - estudaram juntos, e digo mais, 2 vezes!'

In [61]:
text.capitalize() == text

True

In [62]:
text.title()

'Andre E O André - Que São Amiguinhos - Estudaram Juntos, E Digo Mais, 2 Vezes!'

In [63]:
text.replace('estudaram', 'assistiram netflix')

'Andre e o andré - que são amiguinhos - assistiram netflix juntos, e digo mais, 2 vezes!'

In [66]:
text.replace('andré', 'lucas').replace('estudaram', 'assistiram netflix')

'Andre e o lucas - que são amiguinhos - assistiram netflix juntos, e digo mais, 2 vezes!'

In [67]:
import re

In [69]:
from re import findall as ff

In [70]:
# ff() is the same as re.findall()

In [68]:
import importlib

importlib.reload(re)

In [71]:
pattern = 'andré'

re.findall(pattern, text)

['andré']

In [72]:
re.sub(pattern, 'lucas', text)

'Andre e o lucas - que são amiguinhos - estudaram juntos, e digo mais, 2 vezes!'

#### sets

In [73]:
pattern = '[Aa]ndr[eé]'

re.findall(pattern, text)

['Andre', 'andré']

In [74]:
re.sub(pattern, 'lucas', text)

'lucas e o lucas - que são amiguinhos - estudaram juntos, e digo mais, 2 vezes!'

#### Quantifiers

In [81]:
text_oi = 'Ooooiiiiii itau!'


pattern = '[Oo]+[iI]+'

re.sub(pattern, 'oi', text_oi)

'oi itau!'

# List Comprehensions

## Some list methods

In [82]:
my_list = [1, 2]

In [83]:
# append in lists
my_list.append('oi')
my_list

[1, 2, 'oi']

In [84]:
# insert in lists
my_list.append(3)

In [85]:
my_list

[1, 2, 'oi', 3]

In [86]:
print(my_list.append(4))

None

In [87]:
my_list

[1, 2, 'oi', 3, 4]

In [89]:
my_list[0].append(3)

AttributeError: 'int' object has no attribute 'append'

In [90]:
my_list[0] = 100

In [91]:
my_list

[100, 2, 'oi', 3, 4]

In [92]:
my_list2 = [190]

In [93]:
my_list2.append(my_list)

In [94]:
my_list2

[190, [100, 2, 'oi', 3, 4]]

In [95]:
my_list2 = [190]

In [96]:
my_list2

[190]

In [97]:
my_list2.extend(my_list)

In [98]:
my_list2

[190, 100, 2, 'oi', 3, 4]

In [99]:
my_list2 = [190]

In [101]:
my_list2 + my_list

[190, 100, 2, 'oi', 3, 4]

In [103]:
my_list.insert(0, 190)

In [105]:
my_list.insert(3, 'tchau')

In [106]:
my_list

[190, 100, 2, 'tchau', 'oi', 3, 4]

In [107]:
import os

In [108]:
os.listdir()

['list_comprehension_data.zip',
 'list-comprehension-class.ipynb',
 '.ipynb_checkpoints',
 'data']

In [112]:
os.sys.path.insert(0, '/Users/andreaguiar/Desktop/usr/dist/')

In [113]:
os.sys.path

['/Users/andreaguiar/Desktop/usr/dist/',
 '/Users/andreaguiar/Desktop/usr/dev/ironhack/ft202002/classes/week1/4_list_comprehensions',
 '/Library/Frameworks/Python.framework/Versions/3.8/lib/python38.zip',
 '/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8',
 '/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/lib-dynload',
 '',
 '/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages',
 '/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/ironhack-0.0.1-py3.8.egg',
 '/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/termcolor-1.1.0-py3.8.egg',
 '/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/extensions',
 '/Users/andreaguiar/.ipython']

# Loops with lists

In [116]:
print(list(range(100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [117]:
new_list = []
for item in range(100):
    new_list.append(item)
    
print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [118]:
!pip3 install tqdm
# !pip3 install tqdm --user (windows users)

Requirement already satisfied: tqdm in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (4.41.1)

# EXTRA: tqdm

In [1]:
from tqdm.auto import tqdm

In [3]:
new_list = []
for item in tqdm(range(10000000), desc='Running...'):
    new_list.append(item)

HBox(children=(FloatProgress(value=0.0, description='Running...', max=10000000.0, style=ProgressStyle(descript…


# List comprehension

In [8]:
new_list = []

for item in range(10):
    new_list.append(item)
print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
new_list = [item for item in range(10)]

print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
new_list = []

for item in range(10):
    new_list.append(item ** 2)
print(new_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
[item ** 2 for item in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
new_list = []

for item in range(10):
    if item % 2 == 0:
        new_list.append(item ** 2)
        
print(new_list)

[0, 4, 16, 36, 64]

In [12]:
[item ** 2 for item in range(10) if item % 2 == 0]

[0, 4, 16, 36, 64]

In [ ]:
new_list = []

for item in range(10):
    # item needs to be even because 
    if item % 2 == 0:
        new_list.append(item ** 2)
        
print(new_list)

In [14]:
[item ** 2 for item in range(10) if item % 2 == 0]

[0, 4, 16, 36, 64]

In [19]:
# [(item ** 2 if item % 2 == 0 elif item % 2 != 0 : item **3) for item in range(10)]

In [21]:
my_list_comprehension = [item for item in range(10)]
print(my_list_comprehension)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [23]:
my_list_comprehension = []
for item in range(10):
    my_list_comprehension.append(item * 2)

In [24]:
my_list_comprehension

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [25]:
my_list_comprehension = [item * 2 for item in range(10)]

my_list_comprehension

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# convert to appended list

In [28]:
x = print(2)

2

In [31]:
print(x)

None

In [32]:
print(print(2))

2
None

In [26]:
x = print(2)

2

In [34]:
[print(item * 2) for item in range(10)]

0
2
4
6
8
10
12
14
16
18

[None, None, None, None, None, None, None, None, None, None]

# Condições

In [36]:
lst = []

for item in range(20):
    if item >= 15:
        lst.append(item)
        print(lst)

[15]
[15, 16]
[15, 16, 17]
[15, 16, 17, 18]
[15, 16, 17, 18, 19]

In [37]:
[item for item in range(20) if item >= 15]

[15, 16, 17, 18, 19]

In [38]:
lst_lst = [[1,2,3], [4,5,6], [7,8,9]]
lst_lst

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [40]:
lst = []

for item in lst_lst:
    print(item)
    for another_item in item:
        print(another_item)
        if another_item > 5:    
            lst.append(another_item)

print(lst)

[1, 2, 3]
1
2
3
[4, 5, 6]
4
5
6
[7, 8, 9]
7
8
9
[6, 7, 8, 9]

In [ ]:
lst = []

for item in lst_lst:
    print(item)
    for another_item in item:
        print(another_item)
        if another_item > 5:    
            lst.append(another_item)

print(lst)

In [ ]:
[another_item for item in lst_lst for another_item in item if another_item > 5]

In [41]:
lst = []
for item in range(10):
    if item < 5:
        lst.append(0)
    else:
        lst.append(1)

lst

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

In [42]:
[(0 if item < 5 else 1) for item in range(10)]

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

In [43]:
[0 if item < 5 else 1 for item in range(10)]

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

# Applications

In [ ]:
import os

In [44]:
import pandas as pd

In [46]:
pd.read_csv('data/titanic.csv')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [49]:
'bike_sharing_hourly.csv'.endswith('.csv')

True

In [58]:
[path for path in os.listdir('data/') if path.endswith('.csv')]

['bike_sharing_hourly.csv',
 'titanic.csv',
 'bike_sharing_daily.csv',
 'titanic_processed.csv',
 'FitBit.csv']

In [53]:
dados = [pd.read_csv('data/' + path) for path in os.listdir('data/') if path.endswith('.csv')]

In [55]:
len(dados)

5