import re
# ^^^ pyforest auto-imports - don't write above this line
# String concatenation

In [1]:
type('Hello')

str

In [2]:
type("Hello")

str

In [3]:
'Hello' + 'World'

'HelloWorld'

In [4]:
x = 'Hello'

In [5]:
x + 'World'

'HelloWorld'

In [6]:
x

'Hello'

In [14]:
y = 1
y += 1
y

2

In [7]:
x = 'Hello'
x += 'World'
# x = x + 'World'
x

'HelloWorld'

x = 'Hello'

x += 'World'

x = x + 'World'

x = 'Hello' + 'World' 

x <-- 'HelloWorld'

In [8]:
print('Hello')

Hello

In [ ]:
'asdijfodjf
asdofijoaf
ajfodjafi'

In [11]:
"""
asdjfoija
asdfiojoiad
kfaijoids
"""

'\nasdjfoija\nasdfiojoiad\nkfaijoids\n'

In [12]:
'''Oi meu nome é Andre
e blablabla'''

'Oi meu nome é Andre\ne blablabla'

In [13]:
print('''Oi meu nome é Andre
e blablabla''')

Oi meu nome é Andre
e blablabla

In [ ]:
# hello + world

In [ ]:
# print helloworld

In [ ]:
# add to the string itself

In [21]:
z = 10

In [20]:
for i in range(5):
    #z = z + 1
    z += 1
    
print(z)

15

# String multiplication

In [22]:
x + x + x

'HelloWorldHelloWorldHelloWorld'

In [23]:
x * 10

'HelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorldHelloWorld'

In [24]:
# multiply values

'Andre\n' * 10

'Andre\nAndre\nAndre\nAndre\nAndre\nAndre\nAndre\nAndre\nAndre\nAndre\n'

In [25]:
# multiply values

print('Andre\n' * 10)

Andre
Andre
Andre
Andre
Andre
Andre
Andre
Andre
Andre
Andre

In [26]:
# multiply values

print('---' * 30)

------------------------------------------------------------------------------------------

---------

# Join strings

In [33]:
meu_nome = ['Andre','Ribeiro','de', 'Barros','Aguiar']
meu_nome

['Andre', 'Ribeiro', 'de', 'Barros', 'Aguiar']

In [28]:
espaco = ' '

In [34]:
espaco.join(meu_nome)

'Andre Ribeiro de Barros Aguiar'

In [35]:
' '.join(meu_nome)

'Andre Ribeiro de Barros Aguiar'

In [37]:
'***'.join(meu_nome)

'Andre***Ribeiro***de***Barros***Aguiar'

In [39]:
'!='.join(meu_nome)

'Andre!=Ribeiro!=de!=Barros!=Aguiar'

In [40]:
space = ' '

In [41]:
space.join(['Andre', 'Aguiar'])

'Andre Aguiar'

In [42]:
'-->'.join(['Andre', 'Aguiar','Bla'])

'Andre-->Aguiar-->Bla'

In [43]:
x = 'Happy'
y = 'Puppies'

'-'.join([x, y])

'Happy-Puppies'

# The newline character (\n)

In [45]:
print('\n'* 3)

# Practical example

In [46]:
queries = []
tables = ['table_A', 'table_B', 'table_C', 
          'table_D','table_E', 'table_F',
          'table_G','table_H', 'table_I']

In [47]:
tables

['table_A',
 'table_B',
 'table_C',
 'table_D',
 'table_E',
 'table_F',
 'table_G',
 'table_H',
 'table_I']

In [ ]:
'''SELECT * FROM table_A
UNION
SELECT * FROM table_B
UNION
SELECT * FROM table_C
UNION
SELECT * FROM table_D
UNION
SELECT * FROM table_E
UNION
SELECT * FROM table_F
UNION
SELECT * FROM table_H

'''

In [50]:
for each_table in tables:
    print(f'''SELECT * FROM {each_table}\nUNION''')

SELECT * FROM table_A
UNION
SELECT * FROM table_B
UNION
SELECT * FROM table_C
UNION
SELECT * FROM table_D
UNION
SELECT * FROM table_E
UNION
SELECT * FROM table_F
UNION
SELECT * FROM table_G
UNION
SELECT * FROM table_H
UNION
SELECT * FROM table_I
UNION

In [51]:
queries = []

for each_table in tables:
    queries.append(f'SELECT * FROM {each_table}')

In [57]:
print('\nUNION\n'.join(queries))

SELECT * FROM table_A
UNION
SELECT * FROM table_B
UNION
SELECT * FROM table_C
UNION
SELECT * FROM table_D
UNION
SELECT * FROM table_E
UNION
SELECT * FROM table_F
UNION
SELECT * FROM table_G
UNION
SELECT * FROM table_H
UNION
SELECT * FROM table_I

In [ ]:
queries = []
tables = ['table_A', 'table_B', 'table_C', 
          'table_D','table_E', 'table_F',
          'table_G','table_H', 'table_I']

# TASK: UNION ALL TABLES
'''
SELECT * FROM table_A
UNION 
SELECT * FROM table_B
UNION
SELECT * FROM table_C 
...

'''


for table in tables:
    queries.append(f'SELECT * FROM {table}')
    
# Loop adding strings
# Join solution


print('\nUNION\n'.join(queries))

In [ ]:
my_query = '\nUNION\n'.join(queries)

In [ ]:
queries

In [61]:
'/'.join(['3', '4 ','7', '3'])

'3/4 /7/3'

# Size of strings

In [62]:
# len of string
len('Andre')

5

In [63]:
for i in 'Andre':
    print(i)

A
n
d
r
e

# Word selection

In [67]:
word = 'automobile'

print(word[0])
print(word[4])
print(word[-1])
print(word[3:6])
print(word[3:])
print(word[0::])
print(word[:])

# select 0, 5, end char

a
m
e
omo
omobile
automobile
automobile

In [69]:
a = 'They ate the - mystery meat. It tasted like      chicken.'

# Splitting a string

Contrario do join

In [70]:
a.split()

['They',
 'ate',
 'the',
 '-',
 'mystery',
 'meat.',
 'It',
 'tasted',
 'like',
 'chicken.']

In [71]:
a.split(' ')

['They',
 'ate',
 'the',
 '-',
 'mystery',
 'meat.',
 'It',
 'tasted',
 'like',
 '',
 '',
 '',
 '',
 '',
 'chicken.']

In [72]:
a.split('.')

['They ate the - mystery meat', ' It tasted like      chicken', '']

In [73]:
a.split(sep='.')

['They ate the - mystery meat', ' It tasted like      chicken', '']

In [79]:
a.split('.') == a.split(sep='.')

True

In [78]:
a.split('.') == a.split(sep='-')

False

In [74]:
a.split(sep='-')

['They ate the ', ' mystery meat. It tasted like      chicken.']

In [75]:
len(a.split(sep='-'))

2

In [80]:
a.split(sep='m')

['They ate the - ', 'ystery ', 'eat. It tasted like      chicken.']

In [ ]:
# split default
# split by .
# split by m

# Startswith vs Endswith

In [81]:
b = 'There is no business like show business.'

In [86]:
b.endswith('s')

False

In [85]:
b.endswith('.')

True

In [84]:
b.endswith('s.')

True

In [87]:
b.startswith('oi')

False

In [88]:
b.startswith('t')

False

In [89]:
b.startswith('T')

True

In [92]:
b.startswith('Ther')

True

In [93]:
variables = ['qtd_casa','qtd_boleto','qtd_titulos','vlr_boleto','vlr_titulos','vlr_cartao']

In [94]:
for variable in variables:
    if variable.startswith('vlr'):
        print(variable)

vlr_boleto
vlr_titulos
vlr_cartao

In [95]:
b.endswith('s')

False

In [96]:
b.endswith('.')

True

In [97]:
b.endswith('s.')

True

# Is it in a string?

In [98]:
b

'There is no business like show business.'

In [99]:
'business' in b

True

In [100]:
'businessss' in b

False

In [101]:
for variable in variables:
    if 'vlr_' in variable:
        print(variable)

vlr_boleto
vlr_titulos
vlr_cartao

# String methods.

In [112]:
c = 'shE HaD a maRveLoUs aSsoRtmeNt of PUPPETS.'

In [104]:
c.lower()

'she had a marvelous assortment of puppets.'

In [105]:
c.upper()

'SHE HAD A MARVELOUS ASSORTMENT OF PUPPETS.'

In [107]:
x = c.upper()

In [109]:
c

'shE HaD a maRveLoUs aSsoRtmeNt of PUPPETS.'

In [108]:
x

'SHE HAD A MARVELOUS ASSORTMENT OF PUPPETS.'

In [110]:
c = c.upper()

In [111]:
c

'SHE HAD A MARVELOUS ASSORTMENT OF PUPPETS.'

In [113]:
c = 'shE HaD a maRveLoUs aSsoRtmeNt of PUPPETS.'

In [114]:
c.capitalize()

'She had a marvelous assortment of puppets.'

In [115]:
c.title()

'She Had A Marvelous Assortment Of Puppets.'

In [116]:
x = 'Andre'

In [117]:
x

'Andre'

In [122]:
f'And then he said: "My name is {x.lower()}"'

'And then he said: "My name is andre"'

In [123]:
f'And then he said: "My name is {x.upper()}"'

'And then he said: "My name is ANDRE"'

In [ ]:
# lower, upper, capitalize, title

# Strip!

In [124]:
d = ' I have a tendency to leave trailing spaces.     '

In [125]:
# strip default, lstrip and rstrip

d.strip()

'I have a tendency to leave trailing spaces.'

In [126]:
d.lstrip()

'I have a tendency to leave trailing spaces.     '

In [127]:
d.rstrip()

' I have a tendency to leave trailing spaces.'

# Replacing values

In [153]:
e = 'I thought the movie was wonderful wonderful wonderful!'

e

'I thought the movie was wonderful wonderful wonderful!'

In [134]:
e.replace('movie', 'film')

'I thought the film was wonderful wonderful wonderful!'

In [135]:
e.replace('mov', 'film')

'I thought the filmie was wonderful wonderful wonderful!'

In [141]:
e.replace('wonderful','awful', 2).replace('I','You').lower().upper().lower()

'you thought the movie was awful awful wonderful!'

In [142]:
# e.replace(['wonderful', 'I'], ['awful','You'])

TypeError: replace() argument 1 must be str, not list

In [158]:
e = 'I thought the movie was wonderful Wonderful wonderful!'

e

'I thought the movie was wonderful Wonderful wonderful!'

In [160]:
e.replace('wonderful','awful')

'I thought the movie was awful Wonderful awful!'

-----

# REGULAR EXPRESSIONS - INTRO TO REGEX

In [161]:
import re

1. `re.search`: Returns the first instance of an expression in a string.
2. `re.findall`: Finds all instances of an expression in a string and returns them as a list.
3. `re.split`: Splits a string based on a specified delimiter.
4. `re.sub`: Substitutes a string/substring with another.

In [162]:
text = 'My neighbor, Mr. Rogers, has 5 dogs.'
pattern = 'neigh'

re.findall(pattern, text)

['neigh']

In [163]:
text = 'My , Mr. Rogers, has 5 dogs.'
pattern = 'neigh'

re.findall(pattern, text)

[]

## Introducing Sets

In [164]:
text = 'My neighbor, Mr. Rogers, has 5 dogs.'
pattern = '[neigh]'

re.findall(pattern, text)

['n', 'e', 'i', 'g', 'h', 'g', 'e', 'h', 'g']

In [168]:
text = 'My neighbor, Mr. Rogers, has 5 rogers.'
pattern = '[rR]ogers'

re.findall(pattern, text)

['Rogers', 'rogers']

In [173]:
text = 'Sáo Paulo São Paulo Sao Paulo Sao Paolo San Pablo sao paulo'

pattern = '[Ss][aãáàAÃÀÁ][on] [Pp]a[bou]lo'

re.findall(pattern, text)

['Sáo Paulo', 'São Paulo', 'Sao Paulo', 'Sao Paolo', 'San Pablo', 'sao paulo']

# Patterns sets:

1. [a-z]: Any lowercase letter between a and z.
2. [A-Z]: Any uppercase letter between A and Z.
3. [0-9]: Any numeric character between 0 and 9.

In [175]:
text = 'My neighbor, Mr. Rogers, has 5 rogers.'
pattern = '[a-e]'
re.findall(pattern, text)

['e', 'b', 'e', 'a', 'e']

In [178]:
re.findall('[A-Z]', text)

['M', 'M', 'R']

In [177]:
re.findall('[O-Z]', text)

['R']

In [179]:
re.findall('[0-9]', text)

['5']

In [181]:
re.findall('[A-Za-z]', text)

['M',
 'y',
 'n',
 'e',
 'i',
 'g',
 'h',
 'b',
 'o',
 'r',
 'M',
 'r',
 'R',
 'o',
 'g',
 'e',
 'r',
 's',
 'h',
 'a',
 's',
 'r',
 'o',
 'g',
 'e',
 'r',
 's']

In [182]:
re.findall('[A-Z0-9]', text)

['M', 'M', 'R', '5']

The opposite: 
- `^` matches everything except the pattern

In [183]:
pattern = '[^a-z]'
re.findall(pattern, text)

['M', ' ', ',', ' ', 'M', '.', ' ', 'R', ',', ' ', ' ', '5', ' ', '.']

In [187]:
# concat patterns [] 
pattern = '[^a-zA-Z0-9\s]'
pattern = '[^a-zA-Z0-9 ]'
re.findall(pattern, text)

[',', '.', ',', '.']

In [188]:
re.findall('[ ]', text)

[' ', ' ', ' ', ' ', ' ', ' ']

In [189]:
re.findall('[\s]', text)

[' ', ' ', ' ', ' ', ' ', ' ']

# Meta Characters:

Characters that don't mean what they are.

1. `\w`: Any alphanumeric character.
3. `\d`: Any numeric character.
7. `.` : Any character except newline (\n).

In [191]:
text = 'My neighbor, Mr. Rogers, ] has 5 - dogs 10.'

In [193]:
print(re.findall('\w', text))

['M', 'y', 'n', 'e', 'i', 'g', 'h', 'b', 'o', 'r', 'M', 'r', 'R', 'o', 'g', 'e', 'r', 's', 'h', 'a', 's', '5', 'd', 'o', 'g', 's', '1', '0']

In [194]:
print(re.findall('\d', text))

['5', '1', '0']

In [195]:
print(re.findall('.', text))

['M', 'y', ' ', 'n', 'e', 'i', 'g', 'h', 'b', 'o', 'r', ',', ' ', 'M', 'r', '.', ' ', 'R', 'o', 'g', 'e', 'r', 's', ',', ' ', ']', ' ', 'h', 'a', 's', ' ', '5', ' ', '-', ' ', 'd', 'o', 'g', 's', ' ', '1', '0', '.']

## Quantifiers

1. `*`: 0 or more
2. `?`: 0 or 1
3. `+`: 1 or more

In [196]:
text = '''My neighbor, Mr. Rogers, has 5 - dogs 100.'''

In [198]:
re.findall('\d*', text)

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '5',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '100',
 '',
 '']

In [199]:
re.findall('\d+', text)

['5', '100']

In [200]:
re.findall('\w+', text)

['My', 'neighbor', 'Mr', 'Rogers', 'has', '5', 'dogs', '100']

In [202]:
text = 'This colonel has the colour or color blue'

re.findall('colou?r', text)

['colour', 'color']

# Methods of re

In [204]:
text = 'My neighbor, Mr. Rogers, ] has 5 - rogers 1000,'

In [205]:
text.replace('Rogers','Andre')

'My neighbor, Mr. Andre, ] has 5 - rogers 1000,'

In [206]:
re.sub('[Rr]ogers','Andre', text)

'My neighbor, Mr. Andre, ] has 5 - Andre 1000,'

In [208]:
re.sub('\d+','10', text)

'My neighbor, Mr. Rogers, ] has 10 - rogers 10,'

In [209]:
text.split('Rogers')

['My neighbor, Mr. ', ', ] has 5 - rogers 1000,']

In [210]:
print(re.split('[Rr]ogers', text))

['My neighbor, Mr. ', ', ] has 5 - ', ' 1000,']

In [212]:
print(re.split('[0-9]+', text))

['My neighbor, Mr. Rogers, ] has ', ' - rogers ', ',']

# Examples

Find the regexes that: 
1. Matches “Dan” and “Ban” (first letter can be "D" or "B").
2. Matches “Dan”, “Ban”, “Tan”, and “Pan”.
3. Matches “Dan” and “Dag” (last letter can be "n" or "g").
4. Matches single character “D”, or “a”, or “n”. Meaning it will not match the entire string "Dan", only one single character (probably not what you wanted).

In [215]:
text = 'Dan and Ban and Tan Dah andSan and Dag wasodkpDanksdpofk i9as09riPan i 09wie'

In [221]:
pattern = '[DB]an'
re.findall(pattern, text)

['Dan', 'Ban', 'Dan']

In [222]:
pattern = '[DBTP]an'
re.findall(pattern, text)

['Dan', 'Ban', 'Tan', 'Dan', 'Pan']

In [223]:
pattern = 'Da[ng]'
re.findall(pattern, text)

['Dan', 'Dag', 'Dan']

In [224]:
pattern = '[Dan]'
re.findall(pattern, text)

['D',
 'a',
 'n',
 'a',
 'n',
 'a',
 'n',
 'a',
 'n',
 'a',
 'n',
 'D',
 'a',
 'a',
 'n',
 'a',
 'n',
 'a',
 'n',
 'D',
 'a',
 'a',
 'D',
 'a',
 'n',
 'a',
 'a',
 'n']