# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [1]:
# Your code here:
def count_lst(lst):
    return len(lst)

Create a function that returns the mean of a list of numbers

In [2]:
# Your code here:
def mean_lst(lst):
    return sum(lst)/count_lst(lst)

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [3]:
# Your code here:
def stand_dev(lst):
    x = 0
    mean = mean_lst(lst)
    count = count_lst(lst)
    for number in lst:
        x += (number - mean)**2
    return (x/count)**0.5

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [20]:
# Your code here:
def calculate(lst):
    ''' 
    Description: calculate(lst) Funcion to calculate a count, mean and standard deviation of one list
    Parameters -> lst : one list with numbers
    Returns: Return one tuple with the count, mean and standard deviation of a list
    Example: calculate ([1,2]) = (  2  ,  1.5  ,  0.5)
                                 count   mean    st_dev
    '''
    return count_lst(lst), mean_lst(lst), stand_dev(lst)

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case, without special characters and in alphabetical order.

In [1]:
# Your code here:
def clean_string(string):
    return ''.join(e for e in sorted(string.lower()) if e.isalnum())

'deopr'

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [26]:
# Your code here:
def class_age(age):
    if age <= 1 :
        return 'Infants'
    elif age <= 11:
        return 'Children'
    elif age < 18:
        return 'Teen'
    elif age < 65:
        return 'Adult'
    else:
        return 'Elderly'

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [ ]:
# Your code here:
def input_age():
    age = int(input("what's your age? "))
    if 0 < age < 150:
        return age
    else:
        return input_age()
    
input_age()

what's your age? 12

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order

In [49]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

def order_phrase(buzz):
    return ', '.join(sorted(buzz.split(',')))

' AI,  Data Warehouse,  Machine Learning,  Pipeline, Big Data'

Make a function without return that modifies the buzz string and puts it in alphabetical order

In [3]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

In [6]:
def mod_order(buzz):
    ', '.join(sorted(buzz.split(',')))

'Big Data, Machine Learning, AI, Data Warehouse, Pipeline'

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [7]:
import pandas as pd

In [2]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

Let's look at the dataset using the `head` function.

In [3]:
# Your code here:

iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

In [4]:
np.mean(iris_numeric)
# return the mean of each column and data type 
# *sum the values and divide by the count

sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

In [5]:
np.std(iris_numeric)
# return the standard deviation of each column and data type 
# *is a measure of how spread out numbers are

sepal_length    0.276405
sepal_width     0.291376
petal_length    0.102470
petal_width     0.074833
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [6]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    return x * 0.393701

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [8]:
# Your code here:
iris_inch = cm_to_in(iris_numeric)
iris_inch

   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874
5      2.125985     1.535434      0.669292      0.15748
6      1.811025     1.338583      0.551181      0.11811
7      1.968505     1.338583      0.590552      0.07874
8      1.732284     1.141733      0.551181      0.07874
9      1.929135     1.220473      0.590552      0.03937

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [9]:
# Define constant below:


def add_constant(x):
    # This function adds a global constant to our input.
    # Input: dataframe, numeric value
    # Output: dataframe
    
    # Your code here:
    return x + 2
    
iris_constant = add_constant(iris_numeric)
iris_constant

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2
5           7.4          5.9           3.7          2.4
6           6.6          5.4           3.4          2.3
7           7.0          5.4           3.5          2.2
8           6.4          4.9           3.4          2.2
9           6.9          5.1           3.5          2.1

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [77]:
# Your code here:
def max_column(df):
    return [max(df[column]) for column in df]

[5.4, 3.9, 1.7, 0.4]

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [18]:
# Your code here:
total_length = iris_numeric[['sepal_length', 'petal_length']].apply(np.sum,axis=0)
total_width = iris_numeric[['sepal_width','petal_width']].apply(np.sum,axis=1)
print(total_length)
print(total_width)

sepal_length    48.6
petal_length    14.5
dtype: float64
0    3.7
1    3.2
2    3.4
3    3.3
4    3.8
5    4.3
6    3.7
7    3.6
8    3.1
9    3.2
dtype: float64